/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

.containerWork {
  display: grid;
  max-width: 260px;
  position: relative;
  margin: auto;
  grid-template: 44px 10px 10px 108px 44px 40px 12px 40px / 20px 106px 16px 50px 50px 20px;
}

h1, h2, h3 {
  font-family: arial;
  text-align: center;
}

.header {
  background-color: #777;
  border-radius: 5px;
  grid-area: 1 / 1 / 2 / 7;
}

.gridBody {
  background-color: #fff;
  border: 1px solid #d2d2d2;
  grid-area: 3 / 1 / 7 / 7;
}

.dollar {
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  grid-area: 5 / 2 / 6 / 3;
  z-index: 5;
}

.give {
  background-color: #1CBC2C;
  border-radius: 3px;
  grid-area: 5 / 4 / 6 / 6;
  z-index: 5;
}

.save {
  background-color: #eaeaea;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  grid-area: 8 / 1 / 9 / 3;
}

.friends {
  background-color: #eaeaea;
  border: 1px solid #d2d2d2;
  border-radius: 3px;
  grid-area: 8 / 4 / 9 / 7;
}

.donation {
  background: #eaeaea;
  border: 1px solid #d2d2d2;
  grid-area: 3 / 1 / 4 / 7;
  z-index: 5;
}

.donationGiven {
  background: #EF5F3C;
  border: 1px solid #EF5F3C;
  grid-area: 3 / 1 / 4 / 5;
  z-index: 5;
}

p {
  font-family: "Avenir-Book", sans serif;
  font-size: 12px;
  color: #777;
}

.banner {
  color: #fff;
  text-align: center;
  padding-top: 2px;
  letter-spacing: 0.2px;
}

.description {
  color: #777;
  padding-left: 20px;
  padding-top: 10px;
  line-height: 1.4em;
  width: 80%;
}

.now {
  color: #FFF;
  font-size: 14px;
  text-align: center;
}

.footer {
  color: #777;
  text-align: center;
  font-weight: bold;
}
